<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App de Tristan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bonjour Tristan!</h1>
        <h2>Tu peux modifier le HTML de ton site en modifiant le html dans le dossier templates/</h2>

        <img src="{{ url_for('static', filename='images/image-1.jpeg') }}" />
        <div style="margin: 40px 0;">
            Tu peux créer plusieurs pages sur ton nouveau site. 
            J'ai créé une page que tu peux accéder ici: <a href="/ma-deuxieme-page">Ma deuxième page!</a>
        </div>
    </div>
</body>
</html>
